.list-items{
    margin:10px;
    list-style-type: none;
    display :flex;
    flex-direction:row;
    justify-content:center;
    
}
.button-tab{
    color:#000;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #dfe2e5;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}